.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-submit {
  border-radius: 25px;
  background-color: #FFF4AD;
  border-color: #FFF4AD;
  color: black;
  font-size: medium;
  box-shadow:none !important;
}

.App-clear {
  border-radius: 25px;
  background-color: #C14B51;
  border-color: #C14B51;
  color: white;
  font-size: medium;
  box-shadow:none !important;
}
