@-webkit-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@keyframes AnimationName { 
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}

.App {
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
  text-align: center;
  background: linear-gradient(127deg, #17c195, #9440c3);
  background-size: 200% 200%;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-idea-title {
  border-radius: 0px;
}

.App-idea-body {
  border-radius: 0px;
}

.App-idea-submit {
  width: 100px;
  border-radius: 0px;
  border-width: 1px; 
}

.App-idea-clear {
  width: 100px;
  border-radius: 0px;
}