.App {

  text-align: center;
  background: linear-gradient(127deg, #17c195, #9440c3);
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-idea-title {
  border-radius: 0px;
}

.App-idea-body {
  border-radius: 0px;
}

.App-idea-submit {
  width: 100px;
  border-radius: 0px;
  border-width: 1px; 
}

.App-idea-clear {
  width: 100px;
  border-radius: 0px;
}